<li>
  {{name}}

  <button class="change-devoured" data-id="{{id}}" data-devour="{{devoured}}">
    {{#if devoured}}Eat it!{{else}}Try this burger!{{/if}}
  </button>

  <button class="delete-burger" data-id="{{this.id}}">delete</button>
</li>